@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius: 0.5rem;
  --foreground-rgb: 0, 0, 0;
  --line-height: 1.4;
  --default-transition: 0.4s ease-in-out;
  --default-box-shadow: 5px 6px 5px -1px rgba(194, 186, 194, 1);
  --default-text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  /* JS Grayscale Colorset */
  --black-color: #2c3e50;
  --blue-black-color: #34495e;
  --dark-grey-color: #7f8c8d;
  --md-grey-color: #95a5a6;
  --light-grey-color: #bdc3c7;
  --off-white-color: #ecf0f1;
  --white-color: #ffffff;

  /* JS Rainbow Colorset */
  --dark-red-color: #c0392b;
  --red-color: #e74c3c;
  --dark-orange-color: #e67e22;
  --orange-color: #f39c12;
  --dark-yellow-color: #f1c40f;
  --yellow-color: #fff200;
  --dark-teal-color: #006266;
  --teal-color: #079992;
  --dark-green-color: #009432;
  --green-color: #20bf6b;
  --dark-purple-color: #40407a;
  --purple-color: #706fd3;
  --dark-blue-color: #1e3799;
  --blue-color: #0652dd;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
